*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin:auto;
}
.navbar{
    background: crimson;
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: cursive;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.navbar .menu li{
    list-style:none;
    display: inline-block;
}
.navbar .menu li a{
    color:white;
}